<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  
  <link type="text/css" rel="stylesheet" href="assets/js/external/jquery-ui-1.12.1/jquery-ui.min.css">
  <link type="text/css" rel="stylesheet" href="assets/js/external/jquery-ui-1.12.1/jquery-ui.structure.min.css">
  <link type="text/css" rel="stylesheet" href="assets/js/external/jquery-ui-1.12.1/jquery-ui.theme.min.css">
  <link type="text/css" rel="stylesheet" href="assets/js/external/spectrum/spectrum.css">
  
  <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="assets/css/style.css">
  
  <script type="text/javascript" src="assets/js/external/vue.min.js"></script>
  <script type="text/javascript" src="assets/js/external/vue-resource.min.js"></script>
  <script type="text/javascript" src="assets/js/external/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="assets/js/external/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="assets/js/external/jquery.shapeshift.min.js"></script>
  <script type="text/javascript" src="assets/js/external/spectrum/spectrum.js"></script>
  <script type="text/javascript" src="assets/js/external/tinycolor.js"></script>
  <script type="text/javascript" src="assets/js/external/js-cookie.js"></script>
  
  <script type="text/javascript" src="assets/js/lib/Star.js"></script>
  <script type="text/javascript" src="assets/js/lib/FlyingThroughTheSpace.js"></script>
  <script type="text/javascript" src="assets/js/lib/Flake.js"></script>
  <script type="text/javascript" src="assets/js/lib/Snowfall.js"></script>
  <script type="text/javascript" src="assets/js/lib/Cloud.js"></script>
  <script type="text/javascript" src="assets/js/lib/Clouds.js"></script>
  
  <template id="snow-button">
    <button v-on:click="showSnow(!snowButton.active)" v-bind:class="{ active : snowButton.active}">{{ lang.snow_button
      }}
    </button>
  </template>
  
  <template id="space-button">
    <button v-on:click="showSpace(!spaceButton.active)" v-bind:class="{ active : spaceButton.active}">{{
      lang.space_button }}
    </button>
  </template>
  
  <template id="clouds-button">
    <button v-on:click="showClouds(!cloudsButton.active)" v-bind:class="{ active : cloudsButton.active}">{{
      lang.clouds_button }}
    </button>
  </template>
  
  <template id="weather-button">
    <button v-on:click="showWeather(!weatherData.active)" v-bind:class="{ active : weatherData.active}">{{
      lang.weather_button }}
    </button>
  </template>
  
  <template id="sites-button">
    <button v-on:click="showSites(!active)" v-bind:class="{ active : active}">{{ lang.sites_button }}</button>
  </template>
  
  <template id="microphone-button">
    <button v-on:click="showMicrophone(!voiceSearch.active)" v-bind:class="{ active : voiceSearch.active}">{{
      lang.voice_search_button }}
    </button>
  </template>
  
  <template id="currency-button">
    <button v-on:click="showCurrency(!currencyData.active)" v-bind:class="{ active : currencyData.active}">{{
      lang.currency_button }}
    </button>
  </template>
  
  <template id="options-button">
    <button v-on:click="showOptions(!options.active)" v-bind:class="{ active : options.active}">{{ lang.options_button
      }}
    </button>
  </template>
  
  <template id="site-resize">
    <div id="site-button-size" class="slider">
      <div class="slider_value">{{ size }}</div>
    </div>
  </template>
  
  <template id="site-border-color">
    <div class="site-border-color" v-bind:style="{ background: siteBorderColor }"></div>
  </template>
  
  <template id="site-background-color">
    <div class="site-background-color" v-bind:style="{ background: siteBackgroundColor }"></div>
  </template>
  
  <template id="page-background-color">
    <div class="page-background-color" v-bind:style="{ background: pageBackgroundColor }"></div>
  </template>
  
  <template id="options-menu">
    <div v-bind:class="{ active: showMenu }" class="menu">
      <div v-on:click="showMenu = !showMenu" class="close-menu">
        <span class="fa fa-remove"></span>
        <span class="fa fa-bars"></span>
      </div>
      
      <site-resize></site-resize>
      
      <div>
        <site-border-color></site-border-color>
        <site-background-color></site-background-color>
        <page-background-color></page-background-color>
      </div>
      
      <lang-switcher></lang-switcher>
      
      <div class="menu-items">
        <sites-button></sites-button>
        <microphone-button></microphone-button>
        <weather-button></weather-button>
        <currency-button></currency-button>
        <space-button></space-button>
        <snow-button></snow-button>
        <clouds-button></clouds-button>
        <options-button></options-button>
      </div>
    </div>
  </template>
  
  <template id="weather">
    <div v-if="weatherData.show" class="weather">
      <div>{{ weatherData.country }}, {{ weatherData.city }}</div>
      <div>{{ weatherData.condition }}, {{ weatherData.temperature }}&deg;C</div>
    </div>
  </template>
  
  <template id="sites">
    <div v-if="active" class="tabs">
      <div class="content sites-grid" v-bind:style="{ width: contentWidth + 'px' }">
        <div
            v-for="(site, index) in sites"
            v-bind:style="{ width: size + 'px', height: size / 1.5 + 'px', borderColor: siteBorderColor, backgroundColor: siteBackgroundColor }"
            v-bind:data-orig="index"
            class="site">
          <div class="name">{{ site.name }}</div>
          <a class="link" v-bind:href="site.url">
            <div v-bind:style="{ 'backgroundImage': 'url(' + site.image + ')'}"></div>
          </a>
          <div v-if="options.active" v-on:click.prevent="deleteSite(index)" class="delete">
            <span class="fa fa-remove"></span></div>
        </div>
        <div v-if="options.active" v-on:click="options.addSiteDialog = true" v-bind:style="{ width: size + 'px', height: size / 1.5 + 'px' }" class="site add">
          <span class="fa fa-plus"></span>
        </div>
      </div>
    </div>
  </template>
  
  <template id="add-site-dialog">
    <div v-if="options.addSiteDialog" class="addSiteDialog">
      
      
      <div class="form-center">
        <div class="form-container">
          <div class="close-form"><span class="fa fa-remove" v-on:click="options.addSiteDialog = false"></span></div>
          <form v-on:submit.prevent="addSite">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ lang.add_site_name }}</label>
              <input v-model="options.newSite.name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">{{ lang.add_site_url }}</label>
              <input v-model="options.newSite.url" type="url" class="form-control" id="exampleInputPassword1" placeholder="http://example.com" required>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">{{ lang.add_site_image_url }}</label>
              <input v-model="options.newSite.image" type="text" class="form-control" id="exampleInputFile" placeholder="http://example.com/image.png" required>
            </div>
            <button class="btn btn-success">{{ lang.add_site_button }}</button>
          </form>
        </div>
      </div>
    
    </div>
  </template>
  
  <template id="microphone">
    <div v-if="voiceSearch.active" v-on:click="startRecording" v-bind:class="{ recording: voiceSearch.recording }" class="microphone"></div>
  </template>
  
  <template id="lang-switcher">
    <div v-if="active && lang" class="lang-switcher">
      <a
          v-for="lang in allowedLanguages"
          v-bind:style="{ 'background-image': 'url(assets/images/countries/flags/' + lang + '.svg)' }"
          v-bind:class="{ 'active': language == lang }"
          @click.prevent="switchLang(lang)"
          href=""
          class="lang"></a>
    </div>
  </template>
  
  <template id="currency">
    <table v-if="currencyData.active" class="currency">
      <tr>
        <th>
          <div
              v-if="options.active"
              @click="currencyData.options = true"
              class="currency-options">
            <i class="fa fa-pencil-square-o"></i>
          </div>
        </th>
        <th>{{ lang.currency_volute }}</th>
        <th>{{ currencyData.baseVolute }}</th>
        <th>{{ lang.currency_rates }}</th>
      </tr>
      <tr v-for="currency in currencyData.currencyList">
        <td>{{ currency.name }}</td>
        <td><input
            @dblclick="selectText($event)"
            @focus="selectText($event)"
            @input="nominalChange(currency)"
            v-model="currency.nominal"
            type="number"
            min="0"
            step="0.01"></td>
        <td><input
            @dblclick="selectText($event)"
            @focus="selectText($event)"
            @input="resultChange(currency)"
            v-model="currency.result"
            type="number"
            min="0"
            step="0.01"></td>
        <td>{{ currency.value }}</td>
      </tr>
    </table>
  </template>
  
  <template id="currency-options">
    <div v-if="currencyData.options" class="addSiteDialog">
      
      
      <div class="form-center">
        <div class="form-container">
          <div class="close-form"><span class="fa fa-remove" v-on:click="currencyData.options = false"></span></div>
          
          
          <div class="form-group">
            <div><label>lang.currency_base_volute</label></div>
            <select
                v-model="currencyData.baseVolute"
                class="form-control"
                required>
              <option
                  v-for="(name, currency) in currencyData.currencies"
                  v-bind:value="currency">{{ currency }} - {{ name }}
              </option>
            </select>
          </div>
  
  
          <div class="form-group">
            <div><label>lang.currency_add_volute</label></div>
            <div class="input-group">
              <select
                  v-model="currencyData.addVolute"
                  class="form-control" required>
                <option
                    v-for="(name, currency) in currencyData.currencies"
                    v-bind:value="currency">{{ currency }} - {{ name }}
                </option>
              </select>
              <div class="input-group-btn">
                <button
                    v-on:click="addVolute()"
                    class="btn btn-default btn-success">lang.currency_add</button>
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <div><label>lang.currency_selected_volutes</label></div>
            <button
                v-for="volute in currencyData.volutes"
                class="btn btn-success btn-xs volute-button"
            >
              {{ volute }} <i @click="deleteVolute(volute)" class="fa fa-remove"></i>
            </button>
          </div>
          
        </div>
      </div>
    
    </div>
  </template>
  
  <template id="aimp">
    <div v-show="show" class="aimp">
      <div class="aimp-wrapper">
        <div class="previous control"></div>
        <div class="play control"></div>
        <div class="next control"></div>
        <div class="repeat control"></div>
        <div class="shuffle control"></div>
        <div class="play-time">0:00</div>
        <div class="time-line">
          <div class="progress-background">
            <div class="progress-bar"></div>
            <div class="progress-point"></div>
          </div>
        </div>
        <div class="track-length">0:00</div>
        <div class="volume">
          <div class="volume-slider">
            <div class="volume-bg-wrapper">
              <div class="volume-background">
                <div class="volume-progress-bar"></div>
                <div class="volume-progress-point">
                  <div class="volume-point-handle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="track-name"></div>
      </div>
    </div>
  </template>

</head>
<body>

<div id="app" v-bind:style="{ backgroundColor: sites.pageBackgroundColor }">
  
  <options-menu></options-menu>
  
  <sites></sites>
  
  <weather></weather>
  
  <microphone></microphone>
  
  <currency></currency>
  
  <aimp></aimp>
  
  <add-site-dialog></add-site-dialog>
  <currency-options></currency-options>

</div>

<script type="text/javascript" src="assets/js/components/common-data.js" defer></script>
<script type="text/javascript" src="assets/js/components/options-menu.js" defer></script>
<script type="text/javascript" src="assets/js/components/lang.js" defer></script>
<script type="text/javascript" src="assets/js/components/snow-button.js" defer></script>
<script type="text/javascript" src="assets/js/components/space-button.js" defer></script>
<script type="text/javascript" src="assets/js/components/clouds-button.js" defer></script>
<script type="text/javascript" src="assets/js/components/weather.js" defer></script>
<script type="text/javascript" src="assets/js/components/currency.js" defer></script>
<script type="text/javascript" src="assets/js/components/voice-search.js" defer></script>
<script type="text/javascript" src="assets/js/components/sites.js" defer></script>
<script type="text/javascript" src="assets/js/components/aimp.js" defer></script>
<script type="text/javascript" src="assets/js/app.js" defer></script>
</body>
</html>
