<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  
  <!--<link type="text/css" rel="stylesheet" href="assets/js/external/jquery-ui-1.12.1/jquery-ui.min.css">-->
  <!--<link type="text/css" rel="stylesheet" href="assets/js/external/jquery-ui-1.12.1/jquery-ui.structure.min.css">-->
  <!--<link type="text/css" rel="stylesheet" href="assets/js/external/jquery-ui-1.12.1/jquery-ui.theme.min.css">-->
  <!--<link type="text/css" rel="stylesheet" href="assets/js/external/spectrum/spectrum.css">-->
  <!---->
  <!--<link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
  <!--<link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">-->
  <!--<link type="text/css" rel="stylesheet" href="assets/css/sites.scss">-->
  <!--<link type="text/css" rel="stylesheet" href="assets/css/style.css">-->
  
  <link type="text/css" rel="stylesheet" href="assets/css/main.css">
  
  <script type="text/javascript" src="assets/js/external/vue.min.js"></script>
  <script type="text/javascript" src="assets/js/external/vue-resource.min.js"></script>
  <script type="text/javascript" src="assets/js/external/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="assets/js/external/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="assets/js/external/jquery.shapeshift.min.js"></script>
  <script type="text/javascript" src="assets/js/external/spectrum/spectrum.js"></script>
  <script type="text/javascript" src="assets/js/external/tinycolor.js"></script>
  <script type="text/javascript" src="assets/js/external/js-cookie.js"></script>
  <script type="text/javascript" src="assets/js/external/greensock-js/src/minified/TweenMax.min.js"></script>
  
  <script type="text/javascript" src="assets/js/lib/Utils.js"></script>
  <script type="text/javascript" src="assets/js/lib/Star.js"></script>
  <script type="text/javascript" src="assets/js/lib/FlyingThroughTheSpace.js"></script>
  <script type="text/javascript" src="assets/js/lib/Flake.js"></script>
  <script type="text/javascript" src="assets/js/lib/Snowfall.js"></script>
  <script type="text/javascript" src="assets/js/lib/Cloud.js"></script>
  <script type="text/javascript" src="assets/js/lib/Clouds.js"></script>
  <script type="text/javascript" src="assets/js/lib/Bookmarks.js"></script>
  <script type="text/javascript" src="assets/js/lib/ImgToDataUrl.js"></script>
  
  
  <template id="snow-button">
    <button v-on:click="showSnow(!snowButton.active)" v-bind:class="{ active : snowButton.active}">
      {{ lang.snow_button }}
    </button>
  </template>
  
  <template id="space-button">
    <button v-on:click="showSpace(!spaceButton.active)" v-bind:class="{ active : spaceButton.active}">
      {{ lang.space_button }}
    </button>
  </template>
  
  <template id="bookmarks-button">
    <button class="bookmarks-button d-flex justify-content-center align-items-center" v-on:click="showBookmarksPanel()">
      <i class="fa fa-star"></i>
    </button>
  </template>
  
  <template id="bookmarks-panel">
    <div class="bookmarks-wrapper">
      <div class="bookmarks-bg-overlay" v-on:click="hidePanel"></div>
      <div class="bookmarks-panel d-flex">
        <div class="bookmarks-body d-flex flex-column">
          <div class="panel-header d-flex align-items-center">
            <div class="search-container d-flex justify-content-start align-items-center">
              <label class="bookmark-search-input-container">
                <input type="text" v-bind:placeholder="lang.search" v-model="bookmarksSearchQuery">
                <div class="clear-input" v-show="bookmarksSearchQuery.length > 0" v-on:click="bookmarksSearchQuery=''"></div>
                <div class="outline-line"></div>
              </label>
              <div class="filter">
                <button class="filter-icon d-flex align-items-end" v-on:click="toggleFilterMenu">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M6 3l-6 8h4v10h4v-10h4l-6-8zm16 14h-8v-2h8v2zm2 2h-10v2h10v-2zm-4-8h-6v2h6v-2zm-2-4h-4v2h4v-2zm-2-4h-2v2h2v-2z"></path>
                  </svg>
                </button>
                <menu-dialog class="filter-list">
                  <button v-bind:class="{selected: filterSelected('date-desc')}" v-on:click="filterBy('date', 'desc')">↑ {{ lang.search_by_date }}</button>
                  <button v-bind:class="{selected: filterSelected('date-asc')}" v-on:click="filterBy('date', 'asc')">↓ {{ lang.search_by_date }}</button>
                  <button v-bind:class="{selected: filterSelected('name-desc')}" v-on:click="filterBy('name', 'desc')">↑ {{ lang.search_by_name }}</button>
                  <button v-bind:class="{selected: filterSelected('name-asc')}" v-on:click="filterBy('name', 'asc')">↓ {{ lang.search_by_name }}</button>
                  <hr aria-hidden="true">
                  <button v-on:click="closeFilterMenu">&nbsp;&nbsp;&nbsp;{{ lang.close }}</button>
                </menu-dialog>
              </div>
              <button class="restore-icon d-flex align-items-end" v-on:click="restorePreviouslyDeletedBookmark" v-bind:title="lang.restore_removed_bookmark">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 331 331">
                  <path d="M222.685,284.287H47.419V109.02h102.502l47.421-47.419H5c-2.761,0-5,2.239-5,5v260.105c0,2.761,2.239,5,5,5h260.104   c2.761,0,5-2.239,5-5v-192.34l-47.419,47.418V284.287z"></path>
                  <path d="M330.244,1.467c-1.149-1.149-2.783-1.671-4.387-1.391L194.44,22.786c-1.84,0.318-3.35,1.635-3.915,3.415   c-0.564,1.78-0.09,3.727,1.23,5.047l30.971,30.971l-79.517,79.516c-1.953,1.953-1.953,5.119,0,7.071l39.688,39.689   c0.938,0.938,2.21,1.464,3.536,1.464c1.326,0,2.598-0.527,3.536-1.464l79.517-79.516l30.97,30.971   c1.32,1.32,3.268,1.794,5.047,1.23c1.78-0.564,3.097-2.074,3.414-3.915L331.634,5.854C331.912,4.253,331.393,2.617,330.244,1.467z"></path>
                </svg>
              </button>
            </div>
            <div class="close-button" v-on:click="hidePanel"></div>
          </div>
          <div class="bookmarks-container">
            <div class="bookmark d-flex align-items-center" v-for="bookmark in bookmarks">
              <div class="bookmark-icon">
                <img :src="getFavicon(bookmark)">
              </div>
              <div class="bookmark-link-container">
                <a class="bookmark-link" :href="bookmark.url">{{ bookmark.title }}</a>
              </div>
              <div class="bookmark-date-time">
                {{ dateFormat(bookmark.dateAdded) }}, {{ timeFormat(bookmark.dateAdded) }}
              </div>
              <div class="bookmark-menu-button">
                <button class="bookmark-menu-button-icon d-flex flex-column align-items-center justify-content-center" v-on:click="showBookmarkMenu(bookmark, $event)">
                  <div></div>
                  <div></div>
                  <div></div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <menu-dialog class="bookmark-menu">
          <button>{{ lang.change }}</button>
          <button v-on:click="copyBookmarkUrl">{{ lang.copy_url }}</button>
          <button v-on:click="deleteBookmark">{{ lang.delete }}</button>
          <hr aria-hidden="true">
          <button v-on:click="openInNewTab">{{ lang.open_in_new_tab }}</button>
          <button v-on:click="openInNewWindow">{{ lang.open_in_new_window }}</button>
          <button v-on:click="openInIncognito">{{ lang.open_in_incognito }}</button>
          <hr aria-hidden="true">
          <button v-on:click="closeBookmarkMenu">{{ lang.close }}</button>
        </menu-dialog>
      </div>
    </div>
  </template>
  
  <template id="clouds-button">
    <button v-on:click="showClouds(!cloudsButton.active)" v-bind:class="{ active : cloudsButton.active}">
      {{ lang.clouds_button }}
    </button>
  </template>
  
  <template id="weather-button">
    <button v-on:click="showWeather(!weatherData.active)" v-bind:class="{ active : weatherData.active}">
      {{ lang.weather_button }}
    </button>
  </template>
  
  <template id="sites-button">
    <button v-on:click="showSites(!active)" v-bind:class="{ active : active}">{{ lang.sites_button }}</button>
  </template>
  
  <template id="microphone-button">
    <button v-on:click="showMicrophone(!voiceSearch.active)" v-bind:class="{ active : voiceSearch.active}">
      {{ lang.voice_search_button }}
    </button>
  </template>
  
  <template id="currency-button">
    <button v-on:click="showCurrency(!currencyData.active)" v-bind:class="{ active : currencyData.active}">
      {{ lang.currency_button }}
    </button>
  </template>
  
  <template id="options-button">
    <button v-on:click="showOptions(!options.active)" v-bind:class="{ active : options.active}">
      {{ lang.options_button }}
    </button>
  </template>
  
  <template id="site-resize">
    <div id="site-button-size" class="slider">
      <div class="slider_value">{{ size }}</div>
    </div>
  </template>
  
  <template id="site-border-color">
    <div class="site-border-color" v-bind:style="{ background: siteBorderColor }"></div>
  </template>
  
  <template id="site-background-color">
    <div class="site-background-color" v-bind:style="{ background: siteBackgroundColor }"></div>
  </template>
  
  <template id="page-background-color">
    <div class="page-background-color" v-bind:style="{ background: pageBackgroundColor }"></div>
  </template>
  
  <template id="options-menu">
    <div v-bind:class="{ active: showMenu }" class="menu">
      <div v-on:click="showMenu = !showMenu" class="close-menu">
        <span class="fa fa-remove"></span>
        <span class="fa fa-bars"></span>
      </div>
      
      <site-resize></site-resize>
      
      <div>
        <site-border-color></site-border-color>
        <site-background-color></site-background-color>
        <page-background-color></page-background-color>
      </div>
      
      <lang-switcher></lang-switcher>
      
      <div class="menu-items">
        <sites-button></sites-button>
        <microphone-button></microphone-button>
        <weather-button></weather-button>
        <currency-button></currency-button>
        <space-button></space-button>
        <snow-button></snow-button>
        <clouds-button></clouds-button>
        <options-button></options-button>
      </div>
    </div>
  </template>
  
  <template id="weather">
    <div v-if="weatherData.show" class="weather">
      <div>{{ weatherData.country }}, {{ weatherData.city }}</div>
      <div>{{ weatherData.condition }}, {{ weatherData.temperature }}&deg;C</div>
    </div>
  </template>
  
  <template id="sites">
    <div v-if="active" class="sites-container sites-grid">
      <div
          v-for="(site, index) in sites"
          v-bind:style="{ borderColor: siteBorderColor, backgroundColor: siteBackgroundColor }"
          v-bind:data-orig="index"
          class="site">
        <div class="name">{{ site.name }}</div>
        <a class="link" v-bind:href="site.url">
          <div v-bind:style="{ 'backgroundImage': 'url(' + site.image + ')'}"></div>
        </a>
        <div v-if="options.active" v-on:click.prevent="deleteSite(index)" class="site-control delete-control">
          <span class="fa fa-remove"></span>
        </div>
        <div v-if="options.active" v-on:click.prevent="openEditSiteDialog(index)" class="site-control edit-control">
          <span class="fa fa-pencil-square-o"></span>
        </div>
      </div>
      <div v-if="options.active" v-on:click="options.addSiteDialog = true" v-bind:style="{ width: size + 'px', height: size / 1.5 + 'px' }" class="site add">
        <span class="fa fa-plus"></span>
      </div>
    </div>
  </template>
  
  <template id="add-site-dialog">
    <div v-if="options.addSiteDialog" class="addSiteDialog">
      
      
      <div class="form-center">
        <div class="form-container">
          <div class="close-form"><span class="fa fa-remove" v-on:click="options.addSiteDialog = false"></span></div>
          <form v-on:submit.prevent="addSite">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ lang.add_site_name }}</label>
              <input v-model="options.newSite.name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">{{ lang.add_site_url }}</label>
              <input v-model="options.newSite.url" type="url" class="form-control" id="exampleInputPassword1" placeholder="http://example.com" required>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">{{ lang.add_site_image_url }}</label>
              <input v-model="options.newSite.image" type="text" class="form-control" id="exampleInputFile" placeholder="http://example.com/image.png" required>
            </div>
            <button class="btn btn-success">{{ lang.add_site_button }}</button>
          </form>
        </div>
      </div>
    
    </div>
  </template>
  
  <template id="edit-site-dialog">
    <div v-if="options.editSiteDialog" class="addSiteDialog">
      
      
      <div class="form-center">
        <div class="form-container">
          <div class="close-form"><span class="fa fa-remove" v-on:click="options.editSiteDialog = false"></span></div>
          <form v-on:submit.prevent="editSite">
            <div class="form-group">
              <label for="form-input-1">{{ lang.add_site_name }}</label>
              <input v-model="options.editSite.name" type="text" class="form-control" id="form-input-1" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="form-input-2">{{ lang.add_site_url }}</label>
              <input v-model="options.editSite.url" type="url" class="form-control" id="form-input-2" placeholder="http://example.com" required>
            </div>
            <div class="form-group">
              <label for="form-input-3">{{ lang.add_site_image_url }}</label>
              <input v-model="options.editSite.image" type="text" class="form-control" id="form-input-3" placeholder="http://example.com/image.png" required>
            </div>
            <button class="btn btn-success">{{ lang.edit_site_button }}</button>
          </form>
        </div>
      </div>
    
    </div>
  </template>
  
  <template id="microphone">
    <div v-if="voiceSearch.active" v-on:click="startRecording" v-bind:class="{ recording: voiceSearch.recording }" class="microphone"></div>
  </template>
  
  <template id="lang-switcher">
    <div v-if="active && lang" class="lang-switcher">
      <a
          v-for="lang in allowedLanguages"
          v-bind:style="{ 'background-image': 'url(assets/images/countries/flags/' + lang + '.svg)' }"
          v-bind:class="{ 'active': language == lang }"
          @click.prevent="switchLang(lang)"
          href=""
          class="lang"></a>
    </div>
  </template>
  
  <template id="currency">
    <table v-if="currencyData.active" class="currency">
      <tr>
        <th>
          <div
              v-if="options.active"
              @click="currencyData.options = true"
              class="currency-options">
            <i class="fa fa-pencil-square-o"></i>
          </div>
        </th>
        <th>{{ lang.currency_volute }}</th>
        <th>{{ currencyData.baseVolute }}</th>
        <th>{{ lang.currency_rates }}</th>
      </tr>
      <tr v-for="currency in currencyData.currencyList">
        <td>{{ currency.name }}</td>
        <td><input
            @dblclick="selectText($event)"
            @focus="selectText($event)"
            @input="nominalChange(currency)"
            v-model="currency.nominal"
            type="number"
            min="0"
            step="0.01"></td>
        <td><input
            @dblclick="selectText($event)"
            @focus="selectText($event)"
            @input="resultChange(currency)"
            v-model="currency.result"
            type="number"
            min="0"
            step="0.01"></td>
        <td>{{ currency.value }}</td>
      </tr>
    </table>
  </template>
  
  <template id="currency-options">
    <div v-if="currencyData.options" class="addSiteDialog">
      
      
      <div class="form-center">
        <div class="form-container">
          <div class="close-form"><span class="fa fa-remove" v-on:click="currencyData.options = false"></span></div>
          
          
          <div class="form-group">
            <div><label>lang.currency_base_volute</label></div>
            <select
                v-model="currencyData.baseVolute"
                class="form-control"
                required>
              <option
                  v-for="(name, currency) in currencyData.currencies"
                  v-bind:value="currency">{{ currency }} - {{ name }}
              </option>
            </select>
          </div>
          
          
          <div class="form-group">
            <div><label>lang.currency_add_volute</label></div>
            <div class="input-group">
              <select
                  v-model="currencyData.addVolute"
                  class="form-control" required>
                <option
                    v-for="(name, currency) in currencyData.currencies"
                    v-bind:value="currency">{{ currency }} - {{ name }}
                </option>
              </select>
              <div class="input-group-btn">
                <button
                    v-on:click="addVolute()"
                    class="btn btn-default btn-success">lang.currency_add
                </button>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div><label>lang.currency_selected_volutes</label></div>
            <button
                v-for="volute in currencyData.volutes"
                class="btn btn-success btn-xs volute-button"
            >
              {{ volute }} <i @click="deleteVolute(volute)" class="fa fa-remove"></i>
            </button>
          </div>
        
        </div>
      </div>
    
    </div>
  </template>
  
  <template id="aimp">
    <div v-show="show" class="aimp">
      <div class="aimp-wrapper">
        <div class="previous control"></div>
        <div class="play control"></div>
        <div class="next control"></div>
        <div class="repeat control"></div>
        <div class="shuffle control"></div>
        <div class="play-time">0:00</div>
        <div class="time-line">
          <div class="progress-background">
            <div class="progress-bar"></div>
            <div class="progress-point"></div>
          </div>
        </div>
        <div class="track-length">0:00</div>
        <div class="volume">
          <div class="volume-slider">
            <div class="volume-bg-wrapper">
              <div class="volume-background">
                <div class="volume-progress-bar"></div>
                <div class="volume-progress-point">
                  <div class="volume-point-handle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="track-name"></div>
      </div>
    </div>
  </template>

</head>
<body>

<div id="app" v-bind:style="{ backgroundColor: sites.pageBackgroundColor }">
  
  <options-menu></options-menu>
  
  <bookmarks-button></bookmarks-button>
  
  <bookmarks-panel></bookmarks-panel>
  
  <sites></sites>
  
  <weather></weather>
  
  <microphone></microphone>
  
  <currency></currency>
  
  <aimp></aimp>
  
  <add-site-dialog></add-site-dialog>
  <edit-site-dialog></edit-site-dialog>
  <currency-options></currency-options>

</div>

<script type="text/javascript" src="assets/js/components/config.js" defer></script>
<script type="text/javascript" src="assets/js/components/common-data.js" defer></script>
<script type="text/javascript" src="assets/js/components/options-menu.js" defer></script>
<script type="text/javascript" src="assets/js/components/lang.js" defer></script>
<script type="text/javascript" src="assets/js/components/snow-button.js" defer></script>
<script type="text/javascript" src="assets/js/components/space-button.js" defer></script>
<script type="text/javascript" src="assets/js/components/clouds-button.js" defer></script>
<script type="text/javascript" src="assets/js/components/weather.js" defer></script>
<script type="text/javascript" src="assets/js/components/currency.js" defer></script>
<script type="text/javascript" src="assets/js/components/voice-search.js" defer></script>
<script type="text/javascript" src="assets/js/components/sites.js" defer></script>
<script type="text/javascript" src="assets/js/components/aimp.js" defer></script>
<script type="text/javascript" src="assets/js/components/bookmarks.js" defer></script>
<script type="text/javascript" src="assets/js/app.js" defer></script>
</body>
</html>
