.bookmarks-button {
  position: absolute;
  z-index: 29;
  top: 40px;
  left: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 51, 0, 0.2);
  border-radius: 50%;
  background: #343434;
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out .15s;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.bookmarks-button:hover {
  color: yellow;
}

.bookmarks-panel {
  position: absolute;
  z-index: 100;
  height: calc(100vh - 10px - 10px);
  width: 1000px;
  max-width: calc(100% - 28px - 28px);
  transform: translate(-50%, 0);
  left: 50%;
  /*left: -9999px;*/
  /*opacity: 0;*/
  top: 10px;
  background: white;
  color: black;
  padding: 20px;
}

.bookmarks-panel .close-button {
  width: 30px;
  height: 30px;
  position: relative;
}

.bookmarks-panel .close-button:before, .bookmarks-panel .close-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background: black;
  transition: all ease 250ms;
}

.bookmarks-panel .close-button:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.bookmarks-panel .close-button:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bookmarks-panel .close-button:hover:before, .bookmarks-panel .close-button:hover:after {
  background: red;
}

.bookmarks-panel .close-button:hover {
  cursor: pointer;
}

.bookmarks-panel .bookmarks-body {
  flex: 1 0 0;
}

.bookmarks-panel .bookmarks-container {
  flex: 1 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 20px;
}

.bookmarks-panel .search-container {
  flex: 1 0 0;
}

.bookmarks-panel .search-container input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  padding: 10px 40px 10px 10px;
}

.bookmarks-panel .search-container .bookmark-search-input-container {
  display: block;
  width: 70%;
  margin-left: 20px;
  position: relative;
}

.bookmarks-panel .search-container .clear-input {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.bookmarks-panel .clear-input:before, .bookmarks-panel .clear-input:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background: black;
  transition: all ease 250ms;
}

.bookmarks-panel .clear-input:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.bookmarks-panel .clear-input:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bookmarks-panel .clear-input:hover:before, .bookmarks-panel .clear-input:hover:after {
  background: red;
}

.bookmarks-panel .clear-input:hover {
  cursor: pointer;
}

.bookmarks-panel .bookmark {
  width: 100%;
  height: 40px;
  padding: 0 0 0 20px;
  flex-wrap: nowrap;
}

.bookmarks-panel .bookmark:hover {
  background: #E0EBFD;
}

.bookmarks-panel .bookmark-link-container {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  height: 20px;
}

.bookmarks-panel .bookmark-link {
  position: absolute;
  max-width: 100%;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookmarks-panel .bookmark-date-time {
  white-space: nowrap;
  width: 120px;
  flex-shrink: 0;
  font-size: 80%;
  font-weight: bolder;
  text-align: center;
}

.bookmarks-panel .bookmark-icon {
  margin-right: 10px;
}

.bookmarks-panel .bookmark-menu-button {
  cursor: pointer;
}

.bookmarks-panel .bookmark-menu-button-icon {
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.bookmarks-panel .bookmark-menu-button-icon:active {
  background: rgba(0, 0, 0, 0.11);
}

.bookmarks-panel .bookmark-menu-button-icon div {
  border: 2px solid rgba(33, 33, 33, 0.8);
  border-radius: 2px;
  margin: 0 8px 1px 8px;
  pointer-events: none;
  transform: scale(0.8);
}

.bookmarks-panel .filter {
  position: relative;
  margin: 0 20px;
  /*align-self: flex-end;*/
}

.bookmarks-panel .filter .filter-icon svg {
  fill: rgba(0, 0, 0, 0.5);
  transition: ease all 250ms;
  transform: rotateX(180deg);
}

.bookmarks-panel .filter .filter-icon:hover {
  cursor: pointer;
}

.bookmarks-panel .filter .filter-icon:hover svg {
  fill: rgba(0, 0, 0, 0.9);
}

.bookmarks-panel .filter .filter-list {
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  opacity: 0;
  left: -9999px;
  /*left: 50%;*/
}

.bookmarks-panel .bookmark-menu {
  position: absolute;
  z-index: 1;
  transform: translate(-100%, 0);
  left: -9999px;
}