@function map($n, $start1, $stop1, $start2, $stop2) {
  @return ($n - $start1) / ($stop1 - $start1) * ($stop2 - $start2) + $start2;
}

.sites-container {
  position: absolute;
  top: 100px;
  z-index: 20;

  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;

  transition: ease all 2s;

  @for $i from 1 through 1400 {
    @media only screen and (min-width: #{$i}px)  {
      $width: #{map($i, 500, 1400, 1, 190)}px;
      $height: #{map($i, 500, 1400, 1, 190) * .66}px;

      grid-template-columns: $width $width $width $width $width;
      grid-template-rows: $height $height $height $height $height;
    }
  }

  @media only screen and (max-width: 1680px) {
    left: 340px;
    transform: translateX(0);
  }

  @media only screen and (min-width: 1681px) {
    left: 50%;
    transform: translateX(-50%);
  }
  
  height: 100%;
  max-width: 1000px;
}

.content.ui-droppable {
  display: block;
}

.site {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgba(45, 45, 45, 0.4);
  overflow: hidden;
  border: 2px solid rgba(255, 51, 0, 0.2);
  border-radius: 5px;

  &:hover {
    a {
      div {
        transform: scale(1.1) translate(-50%, calc(-50% - 5px));
      }
    }
  }

  &.ss-active-child {
    margin: 0;
    position: absolute;
  }

  a {
    flex: 1 0 100%;
    display: block;
    text-decoration: none;
    width: 100%;
    height: calc(100% - 21px);

    div {
      position: relative;
      top: 50%;
      left: 50%;
      transform: scale(1) translate(-50%, calc(-50% - 5px));
      width: 70%;
      height: 70%;
      background: no-repeat center center;
      background-size: contain;
      transition: ease-in-out all 150ms;
      transform-origin: 0 -25%;

      @media only screen and (max-width: 991.98px) {
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
  }

  .name {
    flex: 1 0 100%;
    color: rgb(200, 200, 200);
    padding: 2px 10px 2px 10px;
    background: rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
    box-sizing: border-box;

    @media only screen and (max-width: 1400px) {
      font-size: 1vw;
      padding: 2px .5vw 2px .5vw;
    }
  }
}

.site .site-control {
  position: absolute;
  transition: ease-in-out all 100ms;
}

.site .site-control:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.site .site-control.delete-control {
  top: 2px;
  right: 3px;
  color: red;
}

.site .site-control.edit-control {
  top: 3px;
  right: 20px;
  color: green;
}

.site.add {
  font-size: 100px;
  color: rgba(255, 51, 0, 0.2);
  cursor: pointer;
}

.site.add .fa {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 92px;
  transition: ease-in-out all 100ms;
}

.site.add:hover .fa {
  color: rgba(255, 80, 0, 0.5);
}