@import "scrollbar.css";
@import "grid.css";
@import "dialog.css";
@import "bookmarks.css";

@font-face {
  font-family: roboto-light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  /*background: rgb(30, 30, 30) url(../images/background/new-year-background.jpg) no-repeat 100% 100%;*/
  background-color: rgb(30, 30, 30);
  font-family: "roboto-light";
  font-size: 14px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #FFFFFF;
}

body * {
  font-family: inherit;
}

#app {
  height: 100%;
  padding: 40px 0 0 0;
}

.menu {
  position: absolute;
  z-index: 30;
  top: 20px;
  left: -204px;
  border: 2px solid rgba(255, 51, 0, 0.2);
  border-radius: 2px;
  background: #343434;
  width: 200px;
  transition: all ease-in-out .15s;
  padding-top: 16px;
}

.menu .close-menu {
  position: absolute;
  z-index: 109;
  top: -12px;
  right: -30px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 51, 0, 0.2);
  border-radius: 50%;
  background: #343434;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out .15s;
}

.menu .close-menu:hover {
  color: green;
}

.menu.active .close-menu:hover {
  color: red;
}

.menu.active {
  left: 10px;
}

.menu.active .close-menu {
  right: -12px;
}

.menu .close-menu .fa-bars {
  position: relative;
  top: -2px;
}

.menu .close-menu .fa-remove {
  display: none;
  position: relative;
  top: -3px;
}

.menu.active .close-menu .fa-bars {
  display: none;
}

.menu.active .close-menu .fa-remove {
  display: inline;
}

.menu button {
  width: 100%;
  display: block;
  border: 0;
  border-top: 1px solid #434343;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: normal;
  padding: 3px 0 3px 0;
  text-indent: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out .15s;
  background: transparent;
  outline: none;
}

.menu button:hover {
  background: #434343;
  text-indent: 15px;
}

.menu button:after {
  font-family: "FontAwesome";
  content: "\f096";
  position: absolute;
  right: 4px;
  color: #AAAAAA;
  top: 5px;
  z-index: 102;
  opacity: 1;
}

.menu button.active:after {
  content: "\f046";
  color: #008000;
  right: 2px;
}

.slider.ui-widget.ui-widget-content {
  background: #343434;
  border: 1px solid rgba(255, 51, 0, 0.2);
  border-radius: 2px;
  position: relative;
  width: 150px;
  height: 5px;
  margin: 5px 0 10px 10px;
}

.slider .ui-state-default {
  background: #484848;
  border: 2px solid rgba(255, 51, 0, 0.2);
  border-radius: 50%;
  outline: none;
  height: 10px;
  width: 10px;
  top: -4px;
}

.slider .ui-widget-header {
  background: rgba(255, 255, 255, 0.2);
}

.slider_value {
  position: absolute;
  background: #343434;
  border: 1px solid rgba(255, 51, 0, 0.2);
  border-radius: 2px;
  padding: 0 3px 0 3px;
  left: calc(100% + 5px);
  top: -6px;
  font-size: 10px;
  color: rgb(200, 200, 200);
}

canvas#FlyingThroughTheSpace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

canvas#Snow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
}

canvas#Clouds {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
}

canvas#FlyingThroughTheSpace.active, canvas#Snow.active, canvas#Clouds.active {
  display: block;
}

.tabs {
  position: relative;
  top: 30px;
  z-index: 20;
}

.content {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.content.ui-droppable {
  display: block;
}

.site {
  width: 175px;
  height: 116px;
  margin: 0 5px 10px 5px;
  background-color: rgba(45, 45, 45, 0.4);
  overflow: hidden;
  border: 2px solid rgba(255, 51, 0, 0.2);
  border-radius: 5px;
}

.site.ss-active-child {
  margin: 0;
  position: absolute;
}

.site a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: calc(100% - 21px);
}

.site a div {
  width: 70%;
  height: calc(100% - 10px);
  position: relative;
  left: 15%;
  background: no-repeat center center;
  background-size: contain;
  transition: all ease-in-out 0.1s;
}

.site:hover a div {
  transform: scale(1.1) translate3d(0, 0, 0);
}

.site .name {
  color: rgb(200, 200, 200);
  padding: 2px 0 2px 10px;
  background: rgba(0, 0, 0, 0.15);
  height: 17px;
}

.site .site-control {
  position: absolute;
  transition: ease-in-out all 100ms;
}

.site .site-control:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.site .site-control.delete-control {
  top: 2px;
  right: 3px;
  color: red;
}

.site .site-control.edit-control {
  top: 3px;
  right: 20px;
  color: green;
}

.site.add {
  font-size: 100px;
  color: rgba(255, 51, 0, 0.2);
  cursor: pointer;
}

.site.add .fa {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 92px;
  transition: ease-in-out all 100ms;
}

.site.add:hover .fa {
  color: rgba(255, 80, 0, 0.5);
}

.addSiteDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  color: #333333;
}

.addSiteDialog .close-form {
  text-align: right;
  font-size: 30px;
}

.addSiteDialog .close-form .fa {
  color: #737373;
  transition: ease-in-out color 150ms;
  cursor: pointer;
}

.addSiteDialog .close-form .fa:hover {
  color: #FF0000;
}

.addSiteDialog .form-center {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  padding: 5px 15px 15px;
  background: white;
}

.addSiteDialog .volute-button {
  margin: 0 5px 5px 0;
}

.addSiteDialog .volute-button:hover .fa {
  color: #FF0000;
}

.weather {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 270px;
  color: #FFFFFF;
  font-family: "roboto-light";
  font-weight: normal;
  font-size: medium;
  z-index: 19;
}

@keyframes microphone_pulse {
  0% {
    background-size: 38px 38px;
    background-position: center 15px;
  }
  10% {
    background-size: 52px 52px;
    background-position: center 0;
  }
  100% {
    background-size: 38px 38px;
    background-position: center 15px;
  }
}

@keyframes microphone_prepare {
  from {
    background-size: 48px 48px;
    background-position: center center;
  }
  to {
    background-size: 38px 38px;
    background-position: center 15px;
  }
}

.microphone {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  z-index: 99;
  border: 2px solid rgba(255, 51, 0, 0.2);
  border-radius: 5px;
}

.microphone:before {
  content: '';
  background: rgba(45, 45, 45, 0.4) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat center center;
  transform: scale3d(0.9, 0.9, 1);
  transition: all ease-in-out .2s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.microphone:hover:before {
  cursor: pointer;
  transform: scale3d(1, 1, 1);
}

.microphone.recording {
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 26px;
  animation: microphone_prepare .5s forwards, microphone_pulse 1.2s .5s infinite;
}

.currency {
  position: absolute;
  top: 200px;
  left: 28px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  z-index: 20;
}

.currency td, .currency th {
  text-align: left;
  padding-left: 5px;
}

.currency td:first-child {
  width: 25px;
  text-align: left;
}

.currency td:first-child, .currency th:first-child {
  padding-left: 0;
}

.currency input {
  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #FFFFFF;
  border: 0;
  height: 13px;
  padding: 0;
  background: none;
  outline: none;
}

.currency .sell, .currency .buy {
  text-align: right;
  padding-right: 10px;
}

.currency .currency-options {
  cursor: pointer;
  color: red;
  position: relative;
  transition: ease-in-out all 150ms;
}

.currency .currency-options:hover {
  transform: scale(1.1);
}

.aimp {
  position: fixed;
  z-index: 20;
  bottom: 0;
  width: 100%;
  background: #F2F2F2;
  font-size: 0;
}

.aimp-wrapper {
  border-top: 1px solid rgba(0, 0, 0, .15);
  height: 46px;
  width: 960px;
  position: relative;
  margin: 0 auto;
}

.aimp .control {
  width: 33px;
  height: 100%;
  background-color: #333333;
  display: inline-block;
  transition: ease-in-out all .1s;
  vertical-align: top;
}

.aimp .control:hover {
  background-color: #FF5500;
  cursor: pointer;
}

.aimp .previous {
  -webkit-mask: url(../images/aimp/previous.svg) no-repeat center center;
}

.aimp .play {
  width: 46px;
  margin: 0 6px;
  -webkit-mask: url(../images/aimp/play.svg) no-repeat center center;
}

.aimp .play.pause {
  -webkit-mask: url(../images/aimp/pause.svg) no-repeat center center;
}

.aimp .next {
  -webkit-mask: url(../images/aimp/next.svg) no-repeat center center;
}

.aimp .repeat {
  width: 19px;
  margin-left: 40px;
  background-color: #888888;
  -webkit-mask: url(../images/aimp/repeat.svg) no-repeat center center;
}

.aimp .repeat:hover {
  background-color: #555555;
}

.aimp .repeat.active {
  background-color: #FF5500;
}

.aimp .shuffle {
  width: 19px;
  margin-left: 10px;
  background-color: #888888;
  -webkit-mask: url(../images/aimp/shuffle.svg) no-repeat center center;
  -webkit-mask-size: 19px 16px;
  -webkit-mask-position-y: 15px;
}

.aimp .shuffle:hover {
  background-color: #555555;
}

.aimp .shuffle.active {
  background-color: #FF5500;
}

.aimp .play-time {
  color: #FF5500;
  font-size: 11px;
  display: inline-block;
  line-height: 46px;
  vertical-align: middle;
  width: 70px;
  text-align: right;
}

.aimp .track-length {
  color: #333333;
  font-size: 11px;
  display: inline-block;
  line-height: 46px;
  width: 65px;
  vertical-align: middle;
}

.aimp .time-line {
  display: inline-block;
  position: relative;
  width: 550px;
  padding: 10px 0;
  margin: 0 10px;
}

.aimp .time-line:hover {
  cursor: pointer;
}

.aimp .progress-background {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.aimp .progress-bar {
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #FF5500;
  /*transition: ease-in-out all 150ms;*/
}

.aimp .progress-point {
  display: inline-block;
  position: absolute;
  border: 1px solid #f50;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  background-color: #f50;
  box-sizing: border-box;
  top: 50%;
  margin-top: -4px;
  margin-left: -2px;
  opacity: 0;
  transition: opacity 150ms;
}

.aimp .progress-point.active {
  opacity: 1;
}

.aimp .time-line:hover .progress-point {
  opacity: 1;
}

.aimp .track-name {
  position: absolute;
  bottom: 3px;
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  color: #666;
  white-space: nowrap;
  left: calc(50% + 105px);
  transform: translateX(-50%);
}

.aimp .volume {
  width: 20px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  background: url(../images/aimp/volume.svg) no-repeat center center;
  cursor: pointer;
  position: relative;
}

.aimp .volume.muted {
  background: url(../images/aimp/volume-muted.svg) no-repeat center center;
}

.aimp .volume-slider {
  position: absolute;
  left: -9px;
  bottom: 40px;
  z-index: 10;
  width: 30px;
  height: 0;
  transition: height 100ms;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

.aimp .volume-slider:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
  z-index: 0;
  bottom: -10px;
  border: 5px solid;
  border-color: transparent transparent #ccc #ccc;
  left: 8px;
  box-shadow: -3px 3px 4px rgba(0, 0, 0, .1);
}

.aimp .volume-slider:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
  bottom: -8px;
  left: 9px;
  z-index: 1;
  border: 4px solid;
  border-color: transparent transparent #f2f2f2 #f2f2f2;
}

.aimp .volume-background {
  position: absolute;
  display: block;
  background-color: #ccc;
  left: 0;
  height: 100px;
  width: 2px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  margin-left: 14px;
}

.aimp .volume-progress-bar {
  background: #f50;
  bottom: 0;
  position: absolute;
  width: 2px;
  margin-left: 0;
  transition: opacity 100ms linear;
  transition-delay: 100ms;
  height: 34px;
}

.aimp .volume-progress-point {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  margin-left: -3px;
  bottom: 34px;
  transition: opacity 100ms linear;
  transition-delay: 100ms;
  z-index: 10;
}

.aimp .volume-point-handle {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: -3px;
  border-radius: 100%;
  border: 4px solid #FF5500;
  background-color: #f50;
  z-index: 11;
}

.aimp .volume-bg-wrapper {
  position: absolute;
  display: block;
  bottom: 13px;
  left: 0;
  height: 100px;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  opacity: 0;
  transition: opacity 120ms linear;
  transition-delay: 120ms;
}

.aimp .volume:hover .volume-slider {
  height: 126px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  overflow: initial;
}

.aimp .volume:hover .volume-bg-wrapper {
  opacity: 1;
}

.aimp .play-list {
  position: absolute;
  bottom: 46px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, .15);
  border-bottom: 0;
}

.aimp .play-list-content-wrapper {
  height: auto;
  max-height: 300px;
  transition: ease-in-out max-height 300ms;
  overflow: hidden;
}

.aimp .play-list-content-wrapper.hidden {
  max-height: 0;
}

.aimp .track-list-wrapper {
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
  display: none;
}

.aimp .track-list-wrapper.active {
  display: block;
}

.aimp .track-list-wrapper .track {
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  padding: 3px 5px;
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  color: #666666;
}

.aimp .track-list-wrapper .track:last-child {
  border: 0;
}

.aimp .track-list-wrapper .track:hover {
  background: rgba(0, 0, 0, .03);
  cursor: pointer;
}

.aimp .track-list-wrapper .track.playing {
  background: rgba(0, 0, 0, .05);
}

.aimp .play-lists-buttons {
  padding: 0 10px;
  overflow: hidden;
  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  color: #666666;
  white-space: nowrap;
}

.aimp .play-lists-buttons div {
  display: inline-block;
  padding: 3px 3px;
  border: 1px solid rgba(0, 0, 0, .15);
  margin: 1px 0 0 3px;
}

.aimp .play-lists-buttons div:first-child {
  margin-left: 0;
}

.aimp .play-lists-buttons div.active {
  border-bottom: 0;
}

.aimp .play-lists-buttons div:hover {
  background: rgba(0, 0, 0, .08);
  cursor: pointer;
}

.aimp .play-list .toggle-button {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%) scale(1, .3);
  cursor: pointer;
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, .15);
  background: #F2F2F2;
  color: #666666;
  padding: 1px 3px;
}

.colorpicker {
  z-index: 50;
}

.site-border-color, .site-background-color, .page-background-color {
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background: red;
  margin: 0 0 0 10px;
}

.lang-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0 10px 5px 10px;
}

.lang-switcher .lang {
  width: 26px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  border: 2px solid #343434;
}

.lang-switcher .lang.active {
  border: 2px solid green;
}

@media (max-width: 959px) {
  .aimp-wrapper {
    width: 840px;
  }
  
  .aimp .time-line {
    width: 400px;
  }
}

@media (max-width: 839px) {
  .aimp-wrapper {
    width: 780px;
  }
  
  .aimp .time-line {
    width: 360px;
  }
  
}

@media (max-width: 779px) {
  .aimp-wrapper {
    width: 555px;
  }
  
  .aimp .time-line {
    width: 150px;
  }
  
  .aimp .track-name {
    left: calc(50% + 90px);
    transform: translateX(-50%);
  }
}